html,
body {
  width: 100%;
}
#Mycanvas {
  line-height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.loginBox {
  width: 560px;
  height: 400px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 30px;
}
.loginBox h2 {
  font-weight: 900;
  height: 100px;
  line-height: 100px;
}
.loginBox h2 a {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 75px;
}
.loginBox .form-horizontal a {
  text-decoration: none;
  color: #fff;
}
.active {
  border-bottom: 2px solid skyblue;
}
